* {
  text-decoration: none;
  margin: 0;
  padding: 0%;
}
body {
  background-color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #3a4750;
}
.nav {
  display: inline-block;
  margin: 25px 50px 25px 0;
  color: white;
}
.navbar h1 {
  color: #ff8d29;
  margin: 25px 40px 25px 50px;
  font-size: 30px;
}
.nav button {
  padding: 10px 30px 10px 30px;
  background-color: #f6c90e;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 40px;
}
.nav button:hover {
  background-color: black;
}
.nav > a {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 40px;
}
.nav a:hover {
  color: #f6c90e;
}
.nav > button > a {
  color: black;
}
.nav > button > a:hover {
  color: #f6c90e;
}
.header {
  display: flex;
  margin: 100px;
  margin-right: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.container {
  text-align: center;
    border: 2px dashed #F6C90E;
    background-color: #F6C90E;
    border-radius: 50px;
    width: 30vw;
    padding: 0 70px 70px 70px;
    margin: 200px 600px;
  
}
.container h2{
  justify-content: center;
  
}
#form{
  padding-top: 40px;
}
.formControls{
  padding-bottom: 20px;
}
#verif{
  margin-right: 127px;
}
#verif input{
  margin-left: 70px;
}
.formControls label {
  text-align: left;
  margin: 30px;
}
.formControls input {
  width: 50%;
  margin-left: 20px;
}
section .container{
  border: 2px dashed #f6c90e;

}
.footer{
    margin: 100px 50px 40px 50px ;
    background-color: #3A4750;
}
.footer h3{
    padding: 15px 0 15px 30px;
    color: white;
}
.footer h3 span{
    color: #FF8D29;
}
.iconfooter{
    color: #FF8D29;
    font-size: 30px;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
}
.footer hr{
    border: none;
    border: 1px solid black;
    padding: 0%;
    margin: 0%;
}
.footer ul {
    display: flex;
    color: white;
    gap: 80px;
    justify-content: center;
   list-style: none;
    padding: 20px 0 15px 0;
}
.footer p{
    color: white;
    padding: 20px 0 15px 0;
    text-align: center;
    text-decoration: none;
}




