* {
  text-decoration: none;
}
body {
  background-color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #3a4750;
}
.nav {
  display: inline-block;
  margin: 25px 50px 25px 0;
  color: white;
}
.navbar h1 {
  color: #ff8d29;
  margin: 25px 40px 25px 50px;
  font-size: 30px;
}
.nav button {
  padding: 10px 30px 10px 30px;
  background-color: #f6c90e;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 40px;
}
.nav button:hover {
  background-color: black;
}
.nav > a {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 40px;
}
.nav a:hover {
  color: #f6c90e;
}
.nav > button > a {
  color: black;
}
.nav > button > a:hover {
  color: #f6c90e;
}
.header {
  display: flex;
  margin: 100px;
  margin-right: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.container {
  text-align: center;
  border: 2px dashed #f6c90e;
  background-color: #f6c90e;

  
  width: 50vw;
  margin: 100px 200px;
}
.formControls label {
  text-align: left;
  margin: 30px;
}
.formControls input {
  width: 50%;
}
section .container{
  border: 2px dashed #f6c90e;

}