*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #3A4750;
}
.nav{
    display: inline-block;
    margin: 25px 50px 25px 0;
    color: white;
}
.navbar h1 {
    color: #FF8D29;
    margin: 25px 40px 25px 50px;
    font-size: 30px;
}
.nav button {
    padding: 10px 30px 10px 30px;
    background-color: #F6C90E;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 40px;
}
.nav button:hover{
    background-color: black;
}
.nav > a {
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 40px;
}
.nav a:hover{
    color: #F6C90E;
}
.nav >button > a {
    color: black;
}
.nav >button > a:hover{
    color: #F6C90E;
}

.container > .row {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
.banner {
    position: relative;
    margin: 0 auto;
}
.banner img{
    justify-content: center;
}
.container > .row > .banner h2 {
    color: yellow;
}
.heading, p {
    color: white;
    position: absolute;
    top: 50;
    width: 100%;
    text-align: center;
    text-shadow: 5px 5px 10px #FFFF;
}
.container > .row > .banner p{
    margin-top: 50px;
}
.container > .row > .banner img {
    height: 350px;
}



.about-Us {
    display: flex;
    margin-left: 150px;
    background-color: #EDEDED;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-right: 250px;
    
}
.about-Us >.more {
    margin-left: 150px;
    margin-top: 60px;
    margin-bottom: 40px;

}
.about-Us > .more button {
    margin-top: 10px;
    justify-content: center;
    font-size: larger;
    background-color: #F6C90E;
    text-align: center;
    display: flex;
}
.about-Us >.more h2{
    font-size: x-large;
}
.about-Us > .more >p{
    font-size: large;
    margin-top: 10px;
}

.footer{
    margin: 100px 50px 40px 50px ;
    background-color: #3A4750;
}
.footer h3{
    padding: 15px 0 15px 30px;
    color: white;
}
.footer h3 span{
    color: #FF8D29;
}
.iconfooter{
    color: #FF8D29;
    font-size: 30px;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
}
.footer hr{
    border: none;
    border: 1px solid black;
}
.footer ul {
    display: flex;
    color: white;
    gap: 80px;
    justify-content: center;
    padding: 20px 0 15px 0;
    list-style: none;
    text-decoration: none;
}
.footer h4{
    color: white;
    padding: 20px 0 15px 0;
    text-align: center;
}